#header {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
  height: 70px;
}

#header .logo {
  width: 140px;
  float: left;
  padding: 20px 0;
}

#nav {
  float: left;
  padding-left: 40px;
}

#nav .menu-item {
  float: left;
  width: 120px;
}

#nav .menu-item:hover {
  color: #074298;
}

#nav .menu-item a {
  font-weight: 600;
  color: #222;
  display:block;
  text-align:center;
  line-height: 66px;
  text-decoration:none;
  font-size: 17px;
  height: 66px;
}

#nav .menu-item a:hover {
  color: #074298;
}


#nav ul li:first-child span {
  text-align: left;
  float: left;
  padding: 20px 0;
}

#nav ul li .rollover.active span {
  color: #074298;
}

#nav .menu-item ul li:hover a{
  color:#074298;
  background-color: #F3F8FF;
}

#nav .menu-item .submenu {
  display:none; 
  height:auto;
  position:absolute;
  width: 150px;
  z-index:200;
}

#nav .menu-item .submenu a {
  font-size: 15px;
}
  
  
#nav .menu-item:hover .submenu{
  display:block;
}

#nav .menu-item:hover .submenu ul {
  margin-top: 10px;
  border: 1px solid #074298;
  border-radius: 5px;

}

#nav .menu-item li {
  background-color: #fff;
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:200px;
}
  
#nav .menu-item ul a{
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 10px;
  text-align: left;
}
  
#nav .menu-item ul a:hover,
#nav .menu-item ul li:hover a{
  color:#074298;
  text-decoration:none;
}


.login {
  float: right;
  padding: 22px 0;
}

.login ul li {
  float: left;
  padding-left: 20px;
  font-size: 14px;
}


.home {
  width: 95px;
  margin: 0 auto;
  display: inline-block;
}

.menu-item a .icon-medium {
  float: left;
  margin: 25px 10px;
  background-repeat: no-repeat;
  background-image: url('../images/icon-home-inactive.svg');
  background-size: contain;
}

.menu-item a.active .icon-medium,
.menu-item a:hover .icon-medium {
  background-image: url('../images/icon-home-active.svg');
}